/* ==UserStyle==
@name           My.JDownloader.org full width
@namespace      my.jdownloader.org
@version        1.0.1
@description    Expands the lists to use the full available page width on widescreen displays.
@author         Lucki
==/UserStyle== */

@-moz-document regexp("^https:\\/\\/my\\.jdownloader\\.org\\/.*\\?deviceId=[0-9a-f]+#webinterface:downloads$") {
    :root {
        --width-expand-button: 55px; /* less looks too cramped together */
        --width-name: minmax(500px, auto);
        --width-size: 101px; /* minimal value possible (~94px) + small margin to hoster icons */
        --width-hoster: 59px; /* minimal value possible */
        --width-status: 90px; /* 4 icons + small margin to hoster icons*/
        --width-progress: minmax(150px, min-content);
        --width-progress-bar: minmax(100px, 0.5fr);
        --width-priority-icon: 17px; /* minmal value possible */
        --width-stop-marker: 23px; /* minmal value possible (17px) + right margin */
    }

    .listHeader[style="display: block;"] {
        display: grid !important;
        grid-template-columns: /* 9 columns */
            var(--width-expand-button)
            var(--width-name)
            var(--width-size)
            var(--width-hoster)
            var(--width-status)
            var(--width-progress)
            var(--width-progress-bar)
            var(--width-priority-icon)
            var(--width-stop-marker);
    }

    #gwtContent > div > div > div > div > div:has(> .listRow) {
        display: grid;
        grid-auto-columns: /* 9 columns */
            var(--width-expand-button)
            var(--width-name)
            var(--width-size)
            var(--width-hoster)
            var(--width-status)
            var(--width-progress)
            var(--width-progress-bar)
            var(--width-priority-icon)
            var(--width-stop-marker);

        /*  each row is a subgrid and inheriting the parent grid layout -
            this allows columns to adapt to other rows length
        */
        > .listRow {
            grid-column: span 9;

            display: grid;
            grid-template-columns: subgrid;

            /* ignore the html style tags and use the child directly */
            > div {
                display: contents;
            }
        }
    }

    .contentContainer {
        width: 100%;
    }

    .listHeadingWrapper {
        width: 100%;
    }

    .listRow > div > div {
        width: 100% !important;
    }

    .mainnav {
        width: 100%;
    }
}

@-moz-document regexp("^https:\\/\\/my\\.jdownloader\\.org\\/.*\\?deviceId=[0-9a-f]+#webinterface:links$") {
    :root {
        --width-expand-button: 55px; /* less looks too cramped together */
        --width-name: minmax(500px, auto);
        --width-target: minmax(400px, auto);
        --width-size: 100px;
        --width-hoster: 59px; /* minimal value possible */
        --width-status: 100px;
        --width-priority-icon: 17px; /* minmal value possible */
        --width-unknown: 17px;
    }

    .listHeader[style="display: block;"] {
        display: grid !important;
        grid-template-columns: /* 8 columns */
            var(--width-expand-button)
            var(--width-name)
            var(--width-target)
            var(--width-size)
            var(--width-hoster)
            var(--width-status)
            var(--width-priority-icon)
            var(--width-unknown);
    }

    #gwtContent > div > div > div > div > div:has(> .listRow) {
        display: grid;
        grid-auto-columns: /* 8 columns */
            var(--width-expand-button)
            var(--width-name)
            var(--width-target)
            var(--width-size)
            var(--width-hoster)
            var(--width-status)
            var(--width-priority-icon)
            var(--width-unknown);

        /*  each row is a subgrid and inheriting the parent grid layout -
            this allows columns to adapt to other rows length
        */
        > .listRow {
            grid-column: span 8;

            display: grid;
            grid-template-columns: subgrid;

            /* ignore the html style tags and use the child directly */
            > div {
                display: contents;
            }
        }
    }

    .contentContainer {
        width: 100%;
    }

    .listHeadingWrapper {
        width: 100%;
    }

    .listRow > div > div {
        width: 100% !important;
    }

    .mainnav {
        width: 100%;
    }
}
